*{
    margin: 0px;
    padding: 0px;
}
.add{
    background: burlywood;
    border: 2px solid black;
    position: relative;
    top: 200px;
}
div.container{
    width: 50vw;
    overflow: hidden;
    box-sizing: border-box;
    background: yellow;
    position: relative;
    top: 100px;
    left: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto 100px;
    grid-gap: 2px;
}

div.nav{
    background: grey;
    display: block;
    width: 100vw;
    position: fixed;
}

li{
    display: inline;
    margin-right: 20px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#one{
    font-size: 50px;
    color: white;
    box-sizing: border-box;
    background: crimson;
    text-align: center;
    opacity: 0.9;
}

#two{
    font-size: 50px;
    color: white;
    box-sizing: border-box;
    background: crimson;
    text-align: center;
    opacity: 0.9;
}

#three{
    font-size: 50px;
    color: white;
    box-sizing: border-box;
    background: crimson;
    text-align: center;
    opacity: 0.9;
}

#four{
    font-size: 50px;
    color: white;
    box-sizing: border-box;
    background: crimson;
    text-align: center;
    opacity: 0.9;
}

#five{
    font-size: 50px;
    color: white;
    box-sizing: border-box;
    background: crimson;
    text-align: center;
    opacity: 0.9;
}

#six{
    font-size: 50px;
    color: white;
    box-sizing: border-box;
    background: crimson;
    text-align: center;
    opacity: 0.9;
}