body{
    background: repeating-radial-gradient(rgba(192,255,0),rgba(23,234,111),rgba(34,229,112));
}

.add{
    background: burlywood;
    border: 2px solid black;
    position: relative;
    top: 200px;
}

div.cont{
    grid-gap: 5px;
    box-shadow: 10px 5px 20px 10px #000000;
    background: grey;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: 50px; 
}

#header{
    text-shadow: 2px 2px #000;
    color: white;
    font-size: 50px;
    text-align: center;
    background: lightcoral;
}
#menu{
    text-shadow: 3px 3px white;
    color: rebeccapurple;
    font-size: 50px;
    background: lightgreen;
    text-align: center;
}
#content{
    text-shadow: 2px 2px #000;
    color: white;
    font-size: 50px;
    background: lightseagreen;
    text-align: center;
}
#footer{
    text-shadow: 2px 2px #000;
    color: green;
    font-size: 50px;
    background: lightgoldenrodyellow;
    text-align: center;
}